# Problem 1: Unique Words in a Sentence

In [4]:
# given
message = "python is easy and python is powerful"

# spliting words
words = message.split()

# remove duplicates
uq_words = set(words)

print("Unique words count:", len(uq_words))
print("Unique words:", uq_words)

Unique words count: 5
Unique words: {'python', 'is', 'and', 'powerful', 'easy'}

# Problem 2: Highest Salary from Employee Data

In [6]:
# given
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

high_empl= max(employees, key=employees.get) # 'get' is used to get the value of a key
high_sal = employees[high_empl]

print("Highest Salary:", high_empl, ":", high_sal)

Highest Salary: Ravi : 75000

# Problem 3: Find Maximum and Minimum Values

In [7]:
# given
numbers = [45, 22, 89, 10, 66]

# initialize
max_value = numbers[0]
min_value = numbers[0]

for n in numbers:
    if n > max_value:
        max_value = n
    if n < min_value:
        min_value = n

print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

# Problem 4: Count Products Above a Price Threshold

In [8]:
# given
prices = [450, 1200, 899, 1500, 300]
count = 0

for n in prices:
    if n > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

# Problem 5: Calculate Attendance Percentage

In [9]:
# given
attendance = ["P", "P", "A", "P", "P"]

# 'count' is used to count the number of letters
present_ct = attendance.count("P")

total = len(attendance)
attendance_perct = (present_ct / total) * 100

print("Attendance Percentage:", attendance_perct)

Attendance Percentage: 80.0

# Problem 6: Remove Duplicate Phone Numbers

In [10]:
phone_numbers = [9876543210, 9123456789, 9876543210]

# remove duplicates
uniq_no = set(phone_numbers)

print("Unique phone numbers:", uniq_no)

Unique phone numbers: {9876543210, 9123456789}

# Problem 7: Count Character Frequency

In [11]:
text = "alphabet"

# dictionary
char_frq = {}

#loop
for n in text:
    if n in char_frq:
        char_frq[n] += 1
    else:
        char_frq[n] = 1

print(char_frq)

{'a': 2, 'l': 1, 'p': 1, 'h': 1, 'b': 1, 'e': 1, 't': 1}

# Problem 8: Convert List to Tuple

In [12]:
# given
numbers = [10, 20, 30]

# convert list to tuple
cov_tuple = tuple(numbers)

print("Tuple:",cov_tuple)

Tuple: (10, 20, 30)

# Problem 9: Check if a Key Exists in a Dictionary

In [13]:
# given
department = {
    "Employee": "Sam",
    "Salary": 85000,
    "Department": "IT"
}
# loops
if "Employee" in department:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

# Problem 10: Calculate Average Marks

In [14]:
marks = [80, 70, 65, 75]

total = sum(marks) # sum
count = len(marks) # length

avg = total/count # average

print("Average Marks:",avg)

Average Marks: 72.5